/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

header {
  background-color: green;
  color: white;
}

footer {
  background-color: red;
  color: yellow;
}

/* Currency switcher */
.currency-switcher {
  display: flex;
  align-items: center;
  margin: 10px;
}
